@media (max-width: 1880px) {
    .container {
        max-width: 1500px;
        margin: 0 auto;
    }
}
@media (max-width: 1600px) {
    .container {
        max-width: 1300px;
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}
